@font-face {
  font-family: 'pokemon_hollownormal';
  src: url('pokemonhollow-webfont.woff2') format('woff2'),
    url('pokemonhollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'pokemon_solidnormal';
  src: url('pokemonsolid-webfont.woff2') format('woff2'),
    url('pokemonsolid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background
}

body {
  overflow: hidden;
}

header {
	width: 100%;
	background-color: red;
	padding: 20px;
  text-align: center;
}
h1 {
  font-size: 2em;
}
nav li {
  display: inline;
  list-style: none;
  text-align: center;
	font-size: 1.2em;
  padding: 1em;
  text-decoration: none;
}
nav a {
  text-decoration: none;
  color: rgba(250, 250, 250, 1.0);
}
nav a:hover {
  background-color: white;
}
main {
  width: 75%;
  margin: 1em 0 1em 10%;
  padding: 2.5%;
  line-height: 2em;
  -webkit-box-shadow: 10px 10px 153px -16px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 153px -16px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 153px -16px rgba(0,0,0,0.75);
}
